:root {
  --dark-blue: #1c3152;
  --soft-blue: #2f528a;
  --light-blue: #244F9B;
  --black: #191C1F;
  --gray: #f9f9f9;
  --white: #fff;

  --hero-background: linear-gradient(270deg, #1C3152 63.5%, #3F6EB8 100%);
  --footer-background: linear-gradient(0deg, #1C3152 0%, #3F6EB8 100%);

  --title-h1-size: 4rem;
  --title-h2-size: font-size: 2.25rem;
  --title-h3-size: font-size: 1.5rem;
  --title-h4-size: font-size: 1.125rem;
  --title-h5-size: font-size: 1rem;

  --lead-p-size: 1.5rem;
  --paragraph-size: 1.125rem;
  --button-size: 1.125rem;
}

body {
  /* background-color: var(--gray); */
  background-color: #6c6e6f;
  font-family: Poppins;
}