:root {
  --dark-blue: #1c3152;
  --soft-blue: #2f528a;
  --light-blue: #244F9B;
  --black: #191C1F;
  --gray: #f9f9f9;
  --white: #fff;

  --title-h1-size: 4rem;
  --title-h2-size: font-size: 2.25rem;
  --title-h3-size: font-size: 1.5rem;
  --title-h4-size: font-size: 1.125rem;
  --title-h5-size: font-size: 1rem;

  --lead-p-size: 1.5rem;
  --paragraph-size: 1.125rem;
  --button-size: 1.125rem;
}