.navbar__menu-desktop {
  display: flex;
  width: 516px;
  height: 19px;
  margin: 37px 61px 37px 0;
}

.menu-desktop__item--hover {
  height: 19px;
  margin-left: 27px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.menu-desktop__item--hover > a {
  position: relative;
  color: var(--dark-blue, #1c3152);
  text-decoration: none;
}

.menu-desktop__item--hover > a::before {
  content: "";
  position: absolute;
  width: 45%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #244f9b;
  visibility: hidden;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.3s ease-in-out 0s;
}

.menu-desktop__item--hover > a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

@media only screen and (max-width: 904px) {
  .navbar__menu-desktop {
    display: none;
  }
}
