.navbar__menu-mobile {
  display: none;
}

.menu-mobile__item {
  display: none;
}

@media only screen and (max-width: 904px) {
  .navbar__menu-mobile {
    display: none;
    position: absolute;
    margin: 0;
    top: 60px;
    padding-top: 14px;
    height: 100%;
    width: 0%;
    right: 0;
    z-index: 15;
  }

  .menu-mobile__item {
    display: block;
    width: 156px;
    height: 30px;
    margin-top: 15px;
    margin: 0;
    padding-left: 20px;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
  }

  .menu-mobile__item > a {
    color: var(--dark-blue, #1c3152);
    text-decoration: none;
  }

  @keyframes menu-item-tracking-in {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes menu-item-tracking-out {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    100% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
  }

  @keyframes menu-background-hide {
    from {
      width: 190px;
      background-color: #fff;
    }
    to {
      width: 0%;
      background-color: #fff;
    }
  }

  @keyframes menu-background-reveal {
    from {
      width: 0%;
      background-color: #fff;
    }
    to {
      width: 190px;
      background-color: #fff;
    }
  }
}
