.team {
  background: var(--footer-background);
  margin-top: 80px;
  min-height: 500px;
}

.team__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.team__title > h4 {
  color: var(--white, #fff);
  /* h2 - 36 40 */
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 111.111% */
  text-transform: uppercase;
}

.title__underline {
  position: relative;
  margin-right: 55px;
  width: 70px;
  height: 5px;
  background-color: var(--light-blue, #244f9b);
}

.team__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 75px;
  padding-bottom: 50px;
}

.container__profile {
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin: 0 30px 15px 30px;
}

.profile__pic {
  width: 200px;
  height: 200px;
  position: relative;
  z-index: 1;

  transition: all 1s ease;
}

.profile__pic > img {
  width: 100%;
  border-radius: 50%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.container__profile:hover > .profile__pic {
  z-index: 0;
  opacity: 0.5;
}

.profile__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  opacity: 0;
  border-radius: 50%;
  transition: all 1.5s ease;
}

.profile__info > h6 {
  width: 67px;
  height: 19px;
  color: var(--dark-blue, #1c3152);
  text-align: center;
  /* h5 - 16 20 */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 125% */
  text-transform: uppercase;
}

.profile__info > p {
  width: 69px;
  height: 16px;
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
}

.container__profile:hover > .profile__info {
  opacity: 1;
  background-color: rgba(217, 217, 217, 0.7);
}

@media only screen and (max-width: 904px) {
  .team {
    background: var(--footer-background);
    margin-top: 65px;
    min-height: 314px;
    max-width: 904px;
  }

  .team__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
  }

  .team__title > h4 {
    color: var(--white, #fff);
    /* h4 - 18 20 */
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 111.111% */
    text-transform: uppercase;
  }

  .title__underline {
    position: relative;
    margin-right: 27px;
    width: 35px;
    height: 3px;
    background-color: var(--light-blue, #244f9b);
  }

  .team__container--scroll {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
    overflow: auto;
    white-space: nowrap;
    height: 150px;
    margin-top: 20px;
  }

  .container__profile {
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
  }

  .profile__pic {
    width: 128px;
    height: 128px;
    position: relative;
    z-index: 1;
  }

  .profile__pic > img {
    width: 100%;
    border-radius: 50%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .profile__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 0;
  }

  .profile__info > h6 {
    width: 67px;
    height: 19px;
    color: var(--dark-blue, #1c3152);
    text-align: center;
    /* h5 - 16 20 */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 125% */
    text-transform: uppercase;
  }

  .profile__info > p {
    width: 69px;
    height: 16px;
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
  }
}
