.menu__hero {
  display: flex;
  justify-content: space-between; /* Alinha as divs lado a lado com espaço entre elas */
  align-items: center;
  text-align: center;
  background: linear-gradient(270deg, #1c3152 63.5%, #3f6eb8 100%);
}

.menu__hero-text,
.menu__hero-img,
.menu__hero-left {
  width: 100%; /* Ajuste a largura conforme necessário */
  padding: 5vw 0;
  height: 100%;
}

.menu__hero-left{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.menu__hero-text {
  color: var(--white, #fff);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}

.menu__hero-img {
         
}

.menu__hero-icon{
  display: flex;
  justify-content: center;
  text-align: center;
  align-self: flex-start;
}
