.menu {
  background: linear-gradient(270deg, #1c3152 63.5%, #3f6eb8 100%);
}

#menu__hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  opacity: 0;
}
