@media only screen and (max-width: 904px) {
  .menu__hero {
    display: flex;
    justify-content: space-between; /* Alinha as divs lado a lado com espaço entre elas */
    align-items: center;
    text-align: center;
    background: linear-gradient(270deg, #1c3152 63.5%, #3f6eb8 100%);
  }
  
  .hero-text,
  .hero-img,
  .menu__hero-left {
    width: 100%; /* Ajuste a largura conforme necessário */
    height: 100%;
  }

  .menu__hero-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 40px;
    min-height: 180px;
    justify-content: center;
  }

  .hero-text > h1 {
    width: 150px;
    color: var(--white, #fff);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    display: flex;
    text-align: left;
    align-items: start;
  }

  .hero-img > img {
    border: none;
  }

  .hero-icon {
    display: flex;
    height: 20px;
    width: auto;
    align-self: self-start;
  }
}

@media only screen and (max-width: 904px) and (orietation: landscape) {
  .hero-text > h1 {
    width: 150px;
    color: var(--white, #fff);
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    display: flex;
    text-align: left;
    align-items: start;
  }

}