.about-us {
  display: flex;
  margin: 38px 10px 0 10px;
  justify-content: space-around;
  align-items: center;
  min-height: 381px;
}

#about-us {
  opacity: 0;
}

.about-us__content {
  order: 1;
}

.about-us__img {
  margin-top: 5px;
  order: 0;
}

@media only screen and (max-width: 904px) {
  .about-us {
    display: flex;
    flex-direction: column;
    margin-top: 17px;
    align-items: center;
  }

  .about-us__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    order: 0;
  }

  .about-us__img {
    margin-top: 5px;
    order: 1;
  }
}
